// Define variables for your color scheme

// For example:
$red: #cf6650;
$blue: #2f9dce;
$yellow: #ecc56d;
$orange: #E67E22;
$green: #54A17A;
$purple: #8b5a88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$moss-green: 	#9fbb80;
$salmon: #ef926c;
$sand: #f5f5dc;
