// define w-60 to be width of 60% of the parent element
.w-60 {
  width: 60%;
}
// define w-40 to be width of 40% of the parent element
.w-40 {
  width: 40%;
}
// define w-40 to be width of 40% of the parent element
.w-475 {
  width: 47.5%;
}
// define w-30 to be width of 30% of the parent element
.w-30 {
  width: 30%;
}
// define w-20 to be width of 20% of the parent element
.w-20 {
  width: 20%;
}
// define w-10 to be width of 10% of the parent element
.w-10 {
  width: 10%;
}
// define w-5 to be width of 5% of the parent element
.w-5 {
  width: 5%;
}
