// Specific CSS for your home-page

.page {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.circle-container {
  position: relative; /* Necessary for absolute positioning of child elements */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  margin-bottom: 0; /* Align to the bottom */
}

/* Styles for individual circles */
.circle {
  position: absolute;
  border-radius: 50%; /* Makes the divs circular */
}

.circle.yellow {
  width: 700px;
  height: 700px;
  clip-path: inset(0 50% 0 0); /* Clip the right half of the circle */
  background-color: #ecc56d; /* Yellow */
  left: 50%; /* Position on the left */
  top: 50%; /* Position at the bottom of the div */
  transform: translateX(-50%); /* Position in the middle of left and right */
  z-index: 2; /* Ensure it is above the purple circle */
}

.circle.blue {
  width: 700px;
  height: 700px;
  clip-path: inset(0 0 0 50%); /* Clip the left half of the circle */
  background-color: #2f9dce; /* Blue */
  left: 50%; /* Position on the right */
  top: 50%; /* Position at the bottom of the div */
  transform: translateX(-50%); /* Position in the middle of left and right */
  z-index: 2; /* Ensure it is above the purple circle */
}

.circle.red {
  width: 150px;
  height: 150px;
  background-color: 	#cf6650; /* Red */
  top: 125px; /* Adjust top and left positions as needed */
  left: 175px; /* Adjust top and left positions as needed */
  z-index: 3; /* Ensure it is above the purple circle */
}

.circle.green {
  width: 933px; /* 1/3rd bigger than 700px */
  height: 933px; /* 1/3rd bigger than 700px */
  // change to red
  // rgb: 84, 161, 122
  background-color: #54A17A; /* Green */
  top: 50%; /* Position at the bottom of the div */
  left: 75%; /* Position a quarter from the right */
  transform: translate(-50%, -50%); /* Center the circle */
  z-index: 1; /* Ensure it is behind all other circles */
}

.circle.purple {
  width: 933px; /* 1/3rd bigger than 700px */
  height: 933px; /* 1/3rd bigger than 700px */
  background-color: #8b5a88; /* Purple */
  top: 50%; /* Position at the bottom of the div */
  left: 75%; /* Position a quarter from the right */
  transform: translate(-50%, -50%); /* Center the circle */
  z-index: 1; /* Ensure it is behind all other circles */
}
