<%flash.each do |key, message|%>
  <div class="alert alert-<%= key %> d-flex alert-dismissible fade show m-1" role="alert">
    <%= message%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>
