<div class="margin-top container">
  <div class="text-home shadow-lg p-3 rounded-5 bg-white" style="--bs-bg-opacity: .1;">
    <h1 class="lato-black">CREA Leadership Competence Model®</h1>
    <h2 class="lato-bold">Management Tool</h2>
  </div>
  <div class="circle-container">
    <div class="circle yellow shadow-sm"></div>
    <div class="circle blue shadow-sm"></div>
    <div class="circle green shadow-sm"></div>
    <div class="circle red shadow-sm"></div>
    <div class="circle purple shadow-sm"></div>
  </div>
</div>
