<div class="page">
  <div class="text-home">
    <h1 class="lato-black">CREA Leadership Competence Model®</h1>
    <h2 class="lato-bold">Management Tool</h2>
  </div>
  <div class="circle-container">
    <div class="circle yellow"></div>
    <div class="circle blue"></div>
    <div class="circle green"></div>
    <div class="circle red"></div>
    <div class="circle purple"></div>
  </div>
</div>
