<%= turbo_frame_tag :board_frame do%>
  <h1>
    <% if @game.pile == 0 %>
      Remaining
    <% elsif @game.pile == 1 %>
      Choosen
    <% elsif @game.pile == 2 %>
      Rejected
    <% end %>
  </h1>
  <% @game_cards.each do |game_card| %>
    <div class="card text-center mb-3 rounded-5 shadow" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <div class="card-buttons-top d-flex justify-content-between">
          <i class="bi bi-info-circle"></i>
          <% if game_card.card.positive == true %>
            <i class="bi bi-plus-circle"></i>
          <% else %>
            <i class="bi bi-dash-circle"></i>
          <% end %>
        </div>
        <div class="trait py-4">
          <h5 class="card-title">
            <% if @user.language == "german" %>
              <%= game_card.card.namegerman %>
            <% elsif @user.language == "english" %>
              <%= game_card.card.nameenglish %>
            <% end %>
          </h5>
        </div>
        <div class="card-buttons-bottom d-flex justify-content-between">
          <i class="bi bi-check-circle"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
