<div class="card text-center rounded-5 shadow m-3
            <% if game_card.card.category == "methodical" %>
            text-danger
            <% elsif game_card.card.category == "social" %>
            text-success
            <% elsif game_card.card.category == "professional" %>
            text-primary
            <% elsif game_card.card.category == "intuitive" %>
            text-info
            <% else %>
            text-warning
            <% end %>
            " style="">
  <div class="card-body d-flex flex-column">
    <!-- Buttons Top -->
    <div class="card-buttons-top d-flex justify-content-between">
      <i class="bi bi-info-circle" style="font-size: 1rem;" data-bs-toggle="modal" data-bs-target="#game_card_<%= game_card.id %>"></i>
      <% if game_card.card.positive == true %>
        <i class="bi bi-plus-circle" style="font-size: 1rem;"></i>
      <% else %>
        <i class="bi bi-dash-circle" style="font-size: 1rem;"></i>
      <% end %>
    </div>
    <!-- Trait -->
    <div class="trait pb-1 d-flex justify-content-center flex-fill">
      <h5 class="card-title align-self-center lato-bold">
        <% if @user.language == "german" %>
          <%= game_card.card.name_german %>
        <% elsif @user.language == "english" %>
          <%= game_card.card.name_english %>
        <% end %>
      </h5>
    </div>
  </div>
</div>
