<div class="container margin-top">
  <div class="games-page">
    <div class="heading-games mb-5">
      <div class="top-row-games d-flex justify-content-between">
        <div class="title-games">
          <% if @user.language == "english" %>
            <h1 class="lato-bold">History</h1>
          <% elsif @user.language == "german" %>
            <h1 class="lato-bold">Verlauf</h1>
          <% end %>
        </div>
      </div>
      <div class="bottom-row-games">
        <%= link_to (if @user.language == "english"
                  "Back"
                elsif @user.language == "german"
                  "Zurück"
                end), games_path, class: "btn btn-outline-dark rounded-4" %>
      </div>
    </div>
    <!-- Line Charts History -->
    <div class="graph-games d-flex flex-column align-items-center">
      <!-- Positive Traits -->
      <div class="positive-traits lato-regular mb-5 bg-white rounded-5 p-3 shadow col-xl-9 col-lg-10 col-md-11 col-sm-12">
        <h2 class="text-center mb-3 lato-regular">
          <% if @user.language == "german" %>
            Positive Eigenschaften
          <% elsif @user.language == "english" %>
            Positive Traits
          <% end %>
        </h2>
        <%= render  "games/line_chart",
                    line_chart_data: @line_chart_data_positive,
                    filename: "positive"
        %>
      </div>
      <!-- Negative Traits -->
      <div class="negative-traits lato-regular bg-white rounded-5 p-3 shadow col-xl-9 col-lg-10 col-md-11 col-sm-12">
        <h2 class="text-center mb-3 lato-regular">
          <% if @user.language == "german" %>
            Negative Eigenschaften
          <% elsif @user.language == "english" %>
            Negative Traits
          <% end %>
        </h2>
        <%= render  "games/line_chart",
                    line_chart_data: @line_chart_data_negative,
                    filename: "negative"
        %>
      </div>
    </div>
  </div>
</div>
