<div class="container margin-top">
  <div class="play-page">
    <div class="heading-play mb-5">
      <div class="top-row-play d-flex justify-content-between">
        <div class="title-play">
          <% if @game %>
            <h1 class="lato-bold"><%= @game.name %></h1>
          <% end %>
        </div>
        <!-- Button trigger modal Rulebook -->
        <a href="#" style="font-size: 2rem;" class="text-decoration-none hover-purple" data-bs-toggle="modal" data-bs-target="#rules">
            <i class="bi bi-book"></i>
        </a>
      </div>
      <!-- Button-Row -->
      <%= turbo_frame_tag :buttons_frame do%>
        <%= render 'games/buttons' %>
      <% end %>
    </div>
    <%= render 'games/board' %>
  </div>
</div>

<!-- Modal for Rulebook -->
<div class="modal fade" id="rules" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <% if @user.language == "english" %>
            How to Play
          <% elsif @user.language == "german" %>
            Ablauf
          <% end %>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @user.language == "english" %>
            <p>
              The goal is to find the specified number of positive <i class="bi bi-plus-circle"></i> and negative <i class="bi bi-dash-circle"></i> cards.
              <br><br>
              Always 2-4 cards with similar values will be displayed.
              <br><br>
              Each of these cards must be marked as either chosen <i class="bi bi-check-circle"></i> or rejected <i class="bi bi-x-circle"></i>.
              <br><br>
              Next, the following cards can be revealed using the arrow <i class="bi bi-arrow-right-circle"></i>.
              <br><br>
              Once the exact number of positive and negative cards has been found, the game can be ended with <i class="bi bi-play-circle"></i>.
            </p>
          <% elsif @user.language == "german" %>
            <p>
              Das Ziel ist es die angegebene Anzahl an positiven <i class="bi bi-plus-circle"></i> und negativen <i class="bi bi-dash-circle"></i> Karten zu finden.
              <br><br>
              Es werden immer 2-4 Karten mit ähnlichen Werten angezeigt.
              <br><br>
              Jede dieser Karten muss entweder als gewählt <i class="bi bi-check-circle"></i> oder abgelehnt <i class="bi bi-x-circle"></i> markiert werden.
              <br><br>
              Anschließend können über den Pfeil <i class="bi bi-arrow-right-circle"></i> die nächsten Karten aufgedeckt werden.
              <br><br>
              Sobald die exakte Anzahl an positiven und negativen Karten gefunden wurde, kann das Spiel mit <i class="bi bi-play-circle"></i> beendet werden.
            </p>
          <% end %>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
