<div class="container margin-top">
  <div class="play-page">
    <div class="heading-play mb-5">
      <div class="top-row-play d-flex justify-content-between">
        <div class="title-play">
          <% if @game %>
            <h1 class="lato-bold"><%= @game.name %></h1>
          <% end %>
        </div>
        <!-- Button trigger modal Rulebook -->
        <a href="#" style="font-size: 2rem;" class="text-decoration-none hover-purple" data-bs-toggle="modal" data-bs-target="#rules">
            <i class="bi bi-book"></i>
        </a>
      </div>
      <!-- Button-Row -->
      <%= turbo_frame_tag :buttons_frame do%>
        <%= render 'games/buttons' %>
      <% end %>
    </div>
    <%= render 'games/board' %>
  </div>
</div>

<!-- Modal for Rulebook -->
<div class="modal fade" id="rules" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <% if @user.language == "english" %>
            Rules
          <% elsif @user.language == "german" %>
            Regeln
          <% end %>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @user.language == "english" %>
            Content
          <% elsif @user.language == "german" %>
            <h1>
              CREA LEADERSHIP Kompetenzmodell®
            </h1>
            <h2>
              Management-Tool
              CREA LEADERSHIP Kompetenz Spiel®
            </h2>
            <p>
              Handlungskompetenzen sind die Grundvoraussetzungen für die Leistungsfähigkeit der einzelnen Teammitglieder bzw. des Teams. Die synergetische Kraft der einzelnen Kompetenzen entscheidet über den Erfolg der gemeinsamen Mission. Aufgrund dieser Besonderheit hat CREA LEADERSHIP® ein gezieltes Kompetenzmanagement entwickelt. Neben den klassischen Kompetenzarten, wird die intuitive Kompetenz als fünfte Kompetenzart integriert. Diese Integration der Intuition ist das Alleinstellungsmerkmal dieses Kompetenzmodells im Vergleich zu anderen Modellen. CREA LEADERSHIP erfordert einen ganzheitlichen Ausgleich der am systematischen Wertschöpfungsprozess beteiligten Kompetenzen. Nur wenn die gemeinschaftlichen Kompetenzfelder synergetisch ausgerichtet und an die jeweiligen Projektphasen angepasst werden, lassen sich wirklich innovative Produkte und Dienstleistungen erschaffen.
              Das CREA LEADERSHIP Kompetenzmodell® greift die Leitgedanken von Carl Gustav Jung auf und differenziert die methodische Kompetenz (Empfinden), die intuitive Kompetenz (Intuieren), die soziale Kompetenz (Fühlen), die fachliche Kompetenz (Denken) und die persönliche Kompetenz (Handeln). Das Modell berücksichtigt die zentralen Kompetenzarten (fachliche, methodische, soziale, intuitive und persönliche Kompetenz). Die Intuition ist eine der zentralen Quellen unseres schöpferischen Handelns. Sie erschließt sich uns über unsere intuitive Wahrnehmung. Aus diesem Grunde ist es unerlässlich, die intuitive Kompetenz integrativ in das Kompetenzmodell einzubeziehen, um ein holistisches Kompetenzmanagement zu erreichen. Um die vor uns liegenden Aufgaben zu bewältigen, wird es nötig, eine Synthese aus Rationalität und Emotionalität zu erreichen. Wir brauchen ein „Sowohl-als-auch-Denken“, um unsere rationalen und emotionalen Fähigkeiten zu vereinen. Wir brauchen senso-motorische Fähigkeiten (Macher), ebenso wie analytische-logische (Analytiker), vitarativ-harmonische (Gestalter), phantasievoll-schöpferische (Entdecker) und holistisch-reflektierende Fähigkeiten (Meister). Im Zusammenspiel der Intelligenzen, Kreativitäten und Kompetenzen entfaltet sich der individuelle bzw. der kollektive innovative Handabdruck als unser verwirklichtes Innovationspotential.
            </p>
          <% end %>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
