// set buttons to lato regular
.btn {
  font-family: "Lato", serif;
  font-weight: 600;
  font-style: normal;
}

.hover-purple {
  color: black; // Set the initial color of the text
  &:hover {
    color: $purple; // Change text color on hover
  }
}

.personal-btn {
  color: $purple; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.hover-green {
  color: black; // Set the initial color of the text
  &:hover {
    color: $green; // Change text color on hover
  }
}

.social-btn {
  color: $green; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.green-hover-green {
  color: $green; // Set the initial color of the text
  &:hover {
    color: $moss-green; // Change text color on hover
  }
}

.hover-moss-green {
  color: black; // Set the initial color of the text
  &:hover {
    color: $moss-green; // Change text color on hover
  }
}

.hover-red {
  color: black; // Set the initial color of the text
  &:hover {
    color: $red; // Change text color on hover
  }
}

.methodical-btn {
  color: $red; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.hover-yellow {
  color: black; // Set the initial color of the text
  &:hover {
    color: $yellow; // Change text color on hover
  }
}

.intuitive-btn {
  color: $yellow; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.hover-orange {
  color: black; // Set the initial color of the text
  &:hover {
    color: $orange; // Change text color on hover
  }
}

.orange-hover-gray {
  color: $orange; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.hover-blue {
  color: black; // Set the initial color of the text
  &:hover {
    color: $blue; // Change text color on hover
  }
}

.professional-btn {
  color: $blue; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}

.hover-gray {
  color: black; // Set the initial color of the text
  &:hover {
    color: $gray; // Change text color on hover
  }
}
