.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bg-sand {
  background: linear-gradient(
    to top,
    rgba(239, 222, 206, 0),  // Bottom (100% opacity)
    rgba(239, 222, 206, 1)      // Top (solid)
  );
}
