// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Lato', serif; /* Ändern Sie die Schriftart hier */
}

i {
  font-size: 1em; /* Adjust the size as necessary */
  font-weight: bold; /* This might have limited effect on icons */
}

.container {
  margin-top: 82px;
}
