// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* Regular weight */
  background-color: #efdece;
}

.container {
  margin-top: 82px;
}

// .btn {
//   // roundeed-5 of bootstrap
//   border-radius: 16px;
// }
